*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Open Sans;
	background: lightgray;
}

nav{
	background: #fff;
}

nav img{
	width: 100px;
	float: left;
	padding: 10px;
	margin-left: 20px;
}

nav ul{
	float: right;
}

nav ul li{
	list-style: none;
	float: left;
}